<div class="tasks edit-page">
  <div class="card">
    <div class="card-body">
      <h2>Editando tarea</h2>
      <%= render "form", task: @task %>
      <%= link_to "Show this task", @task, class: 'btn-interaction' %> |
      <%= link_to "Back to tasks", tasks_path, class: 'btn-interaction' %>
    </div>
  </div>
</div>
