<div class="tasks new-page">
  <div class="card">
    <div class="card-body">
      <h2>Nueva Tarea</h2>
      <%= render "form", task: @task %>
      <%= link_to "Back to tasks", tasks_path %>
    </div>
  </div>
</div>
